ul{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.dots{
    padding-top: 20px;
    align-self: center;

}

.login{
    background-color: rgb(99, 99, 218);
    color: white;
    padding: 10px 10px 10px 10px;

}

.login a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.login a:hover{
    font-weight: bold;
}

.hover a{
    color: black;
    text-align: center;
    text-decoration: none;
}

.hover{
    text-align: center;
}

.hover a:hover {
    font-weight: bold;
    font-size:20px;
}

main img{
    width: 300px;
}

p{
    text-align: center;
}

main input{
    border-radius: 8ex;
    position: relative;
    
}